In [38]:
# [top,left,bottom,width]
box = [143.18, 11.55, 286.80, 182.88]
# fattore di conversione
fc = 28.28
         
for i in range(0, len(box)):
    box[i] /= 10
    box[i] *= fc
    
df = read_pdf("dati/Utilizzo-e-qualità-della-risorsa-idrica-in-Italia.pdf", pages='9',area=[box],output_format="json", stream=True)

df

#questo me lo stampa in una maniera più facilmente leggibile ad un umano

[{'bottom': 811.0704,
  'data': [[{'height': 6.830008506774902,
     'left': 42.52,
     'text': 'Tavola 1.1 – Prelievi di acqua per uso potabile per tipologia di fonte e regione. Anno 2015 (volumi in milioni di metri',
     'top': 420.81,
     'width': 422.8800048828125}],
   [{'height': 6.820000171661377,
     'left': 87.19,
     'text': 'cubi, pro capite in litri per abitante al giorno)',
     'top': 431.81,
     'width': 163.8199920654297}],
   [{'height': 13.059993743896484,
     'left': 43.52,
     'text': 'Prelevato pro REGIONI Sorgente Pozzo Corso d’acqua superfi ciale bacino artifi ciale Lago naturale o Acque marine o salmastre Totale capite',
     'top': 450.82,
     'width': 424.7099914550781}],
   [{'height': 4.659999847412109,
     'left': 43.51,
     'text': 'Piemonte  160,7  415,4  49,9  38,2 - 664,2 412',
     'top': 470.6,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.52,
     'text': 'Valle d’Aosta/Vallée d’Aoste  47,1  6,1 - - - 53,2 1.140',
     'top': 481.43,
     'width': 422.760009765625}],
   [{'height': 4.659999847412109,
     'left': 43.52,
     'text': 'Liguria  31,0  130,4  38,0  59,0 - 258,4 449',
     'top': 492.21,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.53,
     'text': 'Lombardia  276,8  1.166,1  0,8  43,1 - 1.486,9 407',
     'top': 502.98,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.53,
     'text': 'Trentino-Alto Adige/Südtirol  193,0  34,0  3,5  0,6 - 231,1 599',
     'top': 513.75,
     'width': 422.780029296875}],
   [{'height': 4.630000114440918,
     'left': 43.55,
     'text': 'Bolzano-Bozen  64,5  18,9 - - - 83,4 440',
     'top': 524.55,
     'width': 422.75}],
   [{'height': 4.630000114440918,
     'left': 43.54,
     'text': 'Trento  128,5  15,1  3,5  0,6 - 147,7 752',
     'top': 535.33,
     'width': 422.7799987792969}],
   [{'height': 4.659999847412109,
     'left': 43.55,
     'text': 'Veneto  179,5  472,9  64,8  2,0 - 719,2 400',
     'top': 546.07,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.56,
     'text': 'Friuli-Venezia Giulia  53,2  163,6  6,3  1,3 - 224,4 502',
     'top': 556.84,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.57,
     'text': 'Emilia-Romagna  32,5  290,5  107,2  57,3 - 487,6 300',
     'top': 567.62,
     'width': 422.760009765625}],
   [{'height': 4.659999847412109,
     'left': 43.57,
     'text': 'Toscana  106,8  226,3  115,4  16,1 1,0 465,6 340',
     'top': 578.39,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.58,
     'text': 'Umbria  44,7  70,0 - - - 114,7 352',
     'top': 589.16,
     'width': 422.760009765625}],
   [{'height': 4.659999847412109,
     'left': 43.58,
     'text': 'Marche  117,3  29,5  2,3  25,0 - 174,1 308',
     'top': 599.94,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.58,
     'text': 'Lazio  823,3  309,0  3,8  38,7 - 1.174,9 546',
     'top': 610.71,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.59,
     'text': 'Abruzzo  229,1  44,7  8,0 - - 281,8 581',
     'top': 621.48,
     'width': 422.7799987792969}],
   [{'height': 4.659999847412109,
     'left': 43.6,
     'text': 'Molise  117,9  46,1 -  13,9 - 178,0 1.559',
     'top': 632.26,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.6,
     'text': 'Campania  577,3  397,6 -  0,4 - 975,3 456',
     'top': 643.03,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.61,
     'text': 'Puglia  0,4  72,0 -  101,4 - 173,8 117',
     'top': 653.8,
     'width': 422.760009765625}],
   [{'height': 4.659999847412109,
     'left': 43.6,
     'text': 'Basilicata  57,5  4,8 -  255,1 - 317,4 1.512',
     'top': 664.57,
     'width': 422.77001953125}],
   [{'height': 4.659999847412109,
     'left': 43.61,
     'text': 'Calabria  191,9  183,7  52,8  5,5 - 434,1 603',
     'top': 675.35,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.62,
     'text': 'Sicilia  167,5  455,9  2,4  124,6 10,3 760,7 410',
     'top': 686.12,
     'width': 422.7699890136719}],
   [{'height': 4.659999847412109,
     'left': 43.63,
     'text': 'Sardegna  36,5  30,8  0,8  244,4 - 312,5 516',
     'top': 696.89,
     'width': 422.77001953125}],
   [{'height': 4.849999904632568,
     'left': 43.64,
     'text': 'Nord-ovest 515,7 1.718,1 88,7 140,3 - 2.462,8 418',
     'top': 707.47,
     'width': 422.760009765625}],
   [{'height': 4.849999904632568,
     'left': 43.64,
     'text': 'Nord-est 458,2 961,0 181,8 61,2 - 1.662,2 391',
     'top': 718.25,
     'width': 422.75}],
   [{'height': 4.849999904632568,
     'left': 43.63,
     'text': 'Centro 1.092,2 634,8 121,4 79,8 1,0 1.929,2 438',
     'top': 729.02,
     'width': 422.760009765625}],
   [{'height': 4.849999904632568,
     'left': 43.62,
     'text': 'Sud 1.174,2 748,9 60,8 376,4 - 2.360,3 458',
     'top': 739.79,
     'width': 422.7699890136719}],
   [{'height': 4.849999904632568,
     'left': 43.62,
     'text': 'Isole 204,0 486,7 3,3 369,0 10,3 1.073,2 436',
     'top': 750.57,
     'width': 422.7699890136719}],
   [{'height': 4.849999904632568,
     'left': 43.63,
     'text': 'ITALIA 3.444,3 4.549,5 456,0 1.026,6 11,2 9.487,7 428',
     'top': 761.4,
     'width': 422.760009765625}],
   [{'height': 4.340000152587891,
     'left': 43.62,
     'text': 'Fonte: Istat, Censimento delle acque per uso civile',
     'top': 773.23,
     'width': 137.8100128173828}]],
  'extraction_method': 'stream',
  'height': 406.1573486328125,
  'left': 32.6634,
  'right': 517.18463,
  'top': 404.91302,
  'width': 484.521240234375}]

La prima e la seconda riga per la mia prima tabellla almeno, corrispondono al titolo della tabella

il codice commentato sotto, serve a visualizzare le singole righe con il rispettivo contenuto in testo

In [39]:
# prima colonna
#df[0]['data'][0][0]['text'] 

# seconda colonna
#df[0]['data'][1][0]['text']

Crea la tabella con i miei dati

In [40]:
table = []
for i in range(0,len(df[0]['data'])):
    if df[0]['data']:
        riga = df[0]['data'][i][0]['text']
        table.append(riga)
#table

In [106]:
import re 

tab=[]
test=[]
fin=[]

for i in range(1,len(table)):    #cicla partendo da uno, in modo da evitare il nome della tabella
    x = re.findall("([A-Za-z]+\s+)([0-9]+|.,[0-9]+)", table[i])   #cerca insieme di lettere (no case sensistive) seguite da almeno uno spazio
                                                                  # e da un insieme di numeri che possono avere un punto e poi devono avere una virgola e altri numeri
    if x:
        tab.append(table[i])    #ora tab contien tutti i dati necessari estratti dal pdf, sono da ripulire

for j in range(0,len(tab)):
    #([A-Za-z]\s+)([0-9])
    Y=re.findall("([A-Za-z]\s+)([0-9])", tab[j])
    y=re.search("([A-Za-z]\s+)([0-9])", tab[j])   #mi trova tutti i nomi delle regioni + gli spazi + il primo numero
    if y:    # toglie il priomo numero dal nome delle regioni ma lascia gli spazi
        val=y.span()
        z=tab[j][0:val[1]-1]
        num=tab[j].split(z)
        test.append(num[1])
        #*********************************
        vfin = str(z)+":"+str(num[1])
        #fin.append(z)   #aggiunge il nome della regione 
        #fin.append(num)   #aggiunge i valori
        fin.append(vfin)
print("*************************")
#test
#ok    test.append(z)
        #test.append(y.span())
fin
#test
#tab   # già il risultato di tab lo posso dare in pasto ad openrefine e suddividere in colonne da li

*************************

['Piemonte  :160,7  415,4  49,9  38,2 - 664,2 412',
 'Valle d’Aosta/Vallée d’Aoste  :47,1  6,1 - - - 53,2 1.140',
 'Liguria  :31,0  130,4  38,0  59,0 - 258,4 449',
 'Lombardia  :276,8  1.166,1  0,8  43,1 - 1.486,9 407',
 'Trentino-Alto Adige/Südtirol  :193,0  34,0  3,5  0,6 - 231,1 599',
 'Bolzano-Bozen  :64,5  18,9 - - - 83,4 440',
 'Trento  :128,5  15,1  3,5  0,6 - 147,7 752',
 'Veneto  :179,5  472,9  64,8  2,0 - 719,2 400',
 'Friuli-Venezia Giulia  :53,2  163,6  6,3  1,3 - 224,4 502',
 'Emilia-Romagna  :32,5  290,5  107,2  57,3 - 487,6 300',
 'Toscana  :106,8  226,3  115,4  16,1 1,0 465,6 340',
 'Umbria  :44,7  70,0 - - - 114,7 352',
 'Marche  :117,3  29,5  2,3  25,0 - 174,1 308',
 'Lazio  :823,3  309,0  3,8  38,7 - 1.174,9 546',
 'Abruzzo  :229,1  44,7  8,0 - - 281,8 581',
 'Molise  :117,9  46,1 -  13,9 - 178,0 1.559',
 'Campania  :577,3  397,6 -  0,4 - 975,3 456',
 'Puglia  :0,4  72,0 -  101,4 - 173,8 117',
 'Basilicata  :57,5  4,8 -  255,1 - 317,4 1.512',
 'Calabria  :191,9  183,7  52,8  5,5 - 434,1 603',
 'Sicilia  :167,5  455,9  2,4  124,6 10,3 760,7 410',
 'Sardegna  :36,5  30,8  0,8  244,4 - 312,5 516',
 'Nord-ovest :515,7 1.718,1 88,7 140,3 - 2.462,8 418',
 'Nord-est :458,2 961,0 181,8 61,2 - 1.662,2 391',
 'Centro :1.092,2 634,8 121,4 79,8 1,0 1.929,2 438',
 'Sud :1.174,2 748,9 60,8 376,4 - 2.360,3 458',
 'Isole :204,0 486,7 3,3 369,0 10,3 1.073,2 436',
 'ITALIA :3.444,3 4.549,5 456,0 1.026,6 11,2 9.487,7 428']

In [85]:
Y=re.findall("([A-Za-z]\s+)([0-9])", tab[j])
Y
z

'ITALIA '

In [107]:
import json
with open("fin.json", "w") as outfile:
    json.dump(fin, outfile, indent=3)
    
# esporto tutto su openrefine e divido i nomi dai valori e poi uso la RE di seguito --> (["   "]+|["  "]+|[" "]+)
# il risultato è la mia tabella corretta

In [5]:
import json
with open("tab2.json", "w") as outfile:
    json.dump(tab, outfile, indent=3)

Non ha molto senso dividere il numero dalla regione qui visto che posso usare open refine 
inoltre per poterla fare qui, dovrei fare una RE specifica che mi riconosca i numeri fatti in una certa maniera

a gruppi di tre, divisi da un punto, e l'ultimo gruppo diviso da una virgola, molto più facile far fare ad open refine

In [ ]:
#ATT  non ha molto senso fare la divisione dei numeri qui xke posso usare openrefine

import re 

tab=[]
temp=[]

for i in range(1,len(table)):
    x = re.findall("([A-Za-z]+\s+)([0-9]+|.,[0-9]+)", table[i])
    if x:
        temp.append(table[i])
        
for j in range(0,len(temp)):
    y = re.split("([0-9]+|.,[0-9]+\s*)|(\s-\s)", temp[j])
    tab.append(y)

        
print("************************")
print(tab)
print("************************")

In [ ]:
table[len(df[0]['data'])-1]

In [ ]:
# mi conviene usare json anzi che csv
import json

with open("tab1.json", "w") as outfile:
    json.dump(table, outfile, indent=3)    #indentazione con 3 spazi

*************************************************************************************

In [ ]:
# elimino le colonne vuote
table = []
for i in range(0,len(df)):
    riga = {}
    riga['regione'] = regioni[i]
    if df[i]['data']:
        for j in range(0,len(df[i]['data'])):
            primaColonna = df[i]['data'][j][0]['text']
            if primaColonna != '' and primaColonna != '17 operatori sanitari' and primaColonna != "Fascia d'età":
                if primaColonna == '&gt;90':
                    primaColonna = '> 90'
                secondaColonna = df[i]['data'][j][1]['text']
                riga[primaColonna] = secondaColonna
    table.append(riga)
table

In [ ]:
# salvo i risultati su file 
import csv
nomi_colonne = table[0].keys()
with open('dati-regioni-covid.csv', 'w') as output_file:
    dict_writer = csv.DictWriter(output_file, nomi_colonne)
    dict_writer.writeheader()
    dict_writer.writerows(table)